### Installations

In [1]:
!pip install pandas neo4j python-dotenv

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Collecting neo4j
  Downloading neo4j-5.28.1-py3-none-any.whl.metadata (5.9 kB)
Collecting python-dotenv
  Downloading python_dotenv-1.1.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading neo4j-5.28.1-py3-none-any.whl (312 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 312.3/312.3 kB 4.0 MB/s eta 0:00:00
Downloading python_dotenv-1.1.0-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv, neo4j
Successfully installed neo4j-5.28.1 python-dotenv-1.1.0

### Imports

In [2]:
import pandas as pd

In [3]:
categatory_df = pd.read_csv('/content/data/categories.csv')
product_df = pd.read_csv('/content/data/products.csv')
supplier_df = pd.read_csv('/content/data/suppliers.csv')

In [4]:
categatory_df.head()

,categoryID,categoryName,description,picture
0,1,Beverages,Soft drinks coffees teas beers and ales,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
1,2,Condiments,Sweet and savory sauces relishes spreads and s...,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
2,3,Confections,Desserts candies and sweet breads,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
3,4,Dairy Products,Cheeses,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
4,5,Grains/Cereals,Breads crackers pasta and cereal,0x151C2F00020000000D000E0014002100FFFFFFFF4269...

In [5]:
product_df.head()

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [6]:
supplier_df.head()

,supplierID,companyName,contactName,contactTitle,address,city,region,postalCode,country,phone,fax,homePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN

### Combine DataFrames

In [7]:
product_category_df = pd.merge(product_df, categatory_df, on='categoryID')
product_category_df.head(1)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued,categoryName,description,picture
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0,Beverages,Soft drinks coffees teas beers and ales,0x151C2F00020000000D000E0014002100FFFFFFFF4269...

In [8]:
product_category_df.shape

(77, 13)

In [9]:
product_category_df.columns

Index(['productID', 'productName', 'supplierID', 'categoryID',
       'quantityPerUnit', 'unitPrice', 'unitsInStock', 'unitsOnOrder',
       'reorderLevel', 'discontinued', 'categoryName', 'description',
       'picture'],
      dtype='object')

In [10]:
product_category_df.isna().sum()

productID          0
productName        0
supplierID         0
categoryID         0
quantityPerUnit    0
unitPrice          0
unitsInStock       0
unitsOnOrder       0
reorderLevel       0
discontinued       0
categoryName       0
description        0
picture            0
dtype: int64

In [11]:
supplier_df.head(1)

,supplierID,companyName,contactName,contactTitle,address,city,region,postalCode,country,phone,fax,homePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN

In [12]:
product_category_supplier_df = pd.merge(
    product_category_df,
    supplier_df,
    on='supplierID',
    how='left'
)
product_category_supplier_df.head(1)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued,...,contactName,contactTitle,address,city,region,postalCode,country,phone,fax,homePage
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0,...,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN

In [13]:
product_category_supplier_df.shape

(77, 24)

In [14]:
product_category_supplier_df.isna().sum()

productID           0
productName         0
supplierID          0
categoryID          0
quantityPerUnit     0
unitPrice           0
unitsInStock        0
unitsOnOrder        0
reorderLevel        0
discontinued        0
categoryName        0
description         0
picture             0
companyName         0
contactName         0
contactTitle        0
address             0
city                0
region             51
postalCode          0
country             0
phone               0
fax                46
homePage           59
dtype: int64

#### Drop Null Values

In [15]:
product_category_supplier_df["region"] = product_category_supplier_df["region"].replace({pd.NA: "Unknown"})
product_category_supplier_df["fax"] = product_category_supplier_df["fax"].replace({pd.NA: "Unknown"})
product_category_supplier_df["homePage"] = product_category_supplier_df["homePage"].replace({pd.NA: "Unknown"})

product_category_supplier_df.isna().sum()

productID          0
productName        0
supplierID         0
categoryID         0
quantityPerUnit    0
unitPrice          0
unitsInStock       0
unitsOnOrder       0
reorderLevel       0
discontinued       0
categoryName       0
description        0
picture            0
companyName        0
contactName        0
contactTitle       0
address            0
city               0
region             0
postalCode         0
country            0
phone              0
fax                0
homePage           0
dtype: int64

In [16]:
product_category_supplier_df.shape

(77, 24)

### Load Envs

In [17]:
from dotenv import load_dotenv
import os

In [18]:
%load_ext dotenv
%dotenv

cannot find .env file

In [19]:
NEO4J_URI = "neo4j+s://8a10c371.databases.neo4j.io"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "F1g4CVFjJfoZWWndxmmHYF9FUViFcHPlVN8OPisUxAQ"

### Connect To Neo4j

In [20]:
from neo4j import GraphDatabase

In [21]:
AUTH = (NEO4J_USER, NEO4J_PASSWORD)

In [22]:
with GraphDatabase.driver(NEO4J_URI, auth=AUTH) as driver:
    driver.verify_connectivity()

In [23]:
def insert_data(tx, row):
    tx.run('''
            CREATE (product:Product {
                productID: $productID,
                productName: $productName,
                supplierID: $supplierID,
                categoryID: $categoryID,
                quantityPerUnit: $quantityPerUnit,
                unitPrice: $unitPrice,
                unitsInStock: $unitsInStock,
                unitsOnOrder: $unitsOnOrder,
                reorderLevel: $reorderLevel,
                discontinued: $discontinued
            })
            MERGE (category:Category {
                categoryID: $categoryID,
                categoryName: $categoryName,
                description: $description,
                picture: $picture
            })
            MERGE (supplier:Supplier {
                supplierID: $supplierID,
                companyName: $companyName,
                contactName: $contactName,
                contactTitle: $contactTitle,
                address: $address,
                city: $city,
                region: $region,
                postalCode: $postalCode,
                country: $country,
                phone: $phone,
                fax: $fax,
                homePage: $homePage
            })
            CREATE (product)-[:PART_OF]->(category)
            CREATE (product)-[:SUPPLIED_BY]->(supplier)
            ''', row)

In [24]:
with driver.session() as session:
    for _, row in product_category_supplier_df.iterrows():
        session.write_transaction(insert_data, row.to_dict())

<ipython-input-24-eca157127855>:1: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:
<ipython-input-24-eca157127855>:3: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(insert_data, row.to_dict())

## Order, Order Details, Shippers, Employees And Customers

In [25]:
order_df = pd.read_csv('/content/data/orders.csv')
order_detail_df = pd.read_csv('/content/data/order_details.csv')
customer_df = pd.read_csv('/content/data/customers.csv')
shipper_df = pd.read_csv('/content/data/shippers.csv')
employee_df = pd.read_csv('/content/data/employees.csv')

In [26]:
order_df.head()

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,2,65.83,Hanari Carnes,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,1,41.34,Victuailles en stock,2 rue du Commerce,Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,2,51.30,Suprêmes délices,Boulevard Tirou 255,Charleroi,NaN,B-6000,Belgium

In [27]:
order_order_detail_df = pd.merge(order_df,
                                 order_detail_df,
                                 on='orderID',
                                 how='left'
                                )

In [28]:
order_order_detail_df.head(1)

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry,productID,unitPrice,quantity,discount
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France,11,14.0,12,0.0

In [29]:
order_order_detail_customer_df = pd.merge(order_order_detail_df,
                                          customer_df,
                                          on='customerID',
                                          how='left'
                                         )

In [30]:
order_order_detail_customer_shipper_df = pd.merge(order_order_detail_customer_df,
                                                    shipper_df,
                                                    left_on='shipVia',
                                                    right_on='shipperID',
                                                    how='left'
                                                )

In [31]:
order_order_detail_customer_shipper_df.head(1)

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,...,address,city,region,postalCode,country,phone_x,fax,shipperID,companyName_y,phone_y
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,...,59 rue de l'Abbaye,Reims,NaN,51100,France,26.47.15.10,26.47.15.11,3,Federal Shipping,(503) 555-9931

In [32]:
order_order_detail_customer_shipper_employee = pd.merge(order_order_detail_customer_shipper_df,
                                                            employee_df,
                                                            left_on='employeeID',
                                                            right_on='employeeID',
                                                            how='left'
                                                            )

In [33]:
order_order_detail_customer_shipper_employee.head(1)

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,...,city_y,region_y,postalCode_y,country_y,homePhone,extension,photo,notes,reportsTo,photoPath
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,...,London,NaN,SW1 8JR,UK,(71) 555-4848,3453,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp

In [34]:
order_order_detail_customer_shipper_employee.shape

(2155, 48)

In [35]:
order_order_detail_customer_shipper_employee.isna().sum()

orderID               0
customerID            0
employeeID            0
orderDate             0
requiredDate          0
shippedDate          73
shipVia               0
freight               0
shipName              0
shipAddress           0
shipCity              0
shipRegion         1299
shipPostalCode       55
shipCountry           0
productID             0
unitPrice             0
quantity              0
discount              0
companyName_x         0
contactName           0
contactTitle          0
address_x             0
city_x                0
region_x           1329
postalCode_x         55
country_x             0
phone_x               0
fax                 649
shipperID             0
companyName_y         0
phone_y               0
lastName              0
firstName             0
title                 0
titleOfCourtesy       0
birthDate             0
hireDate              0
address_y             0
city_y                0
region_y            568
postalCode_y          0
country_y             0
homePhone             0
extension             0
photo                 0
notes                 0
reportsTo           241
photoPath             0
dtype: int64

In [36]:
order_order_detail_customer_shipper_employee.replace({pd.NA: "Unknown"}, inplace=True)

In [37]:
order_order_detail_customer_shipper_employee.isna().sum()

orderID              0
customerID           0
employeeID           0
orderDate            0
requiredDate         0
shippedDate          0
shipVia              0
freight              0
shipName             0
shipAddress          0
shipCity             0
shipRegion           0
shipPostalCode       0
shipCountry          0
productID            0
unitPrice            0
quantity             0
discount             0
companyName_x        0
contactName          0
contactTitle         0
address_x            0
city_x               0
region_x             0
postalCode_x         0
country_x            0
phone_x              0
fax                  0
shipperID            0
companyName_y        0
phone_y              0
lastName             0
firstName            0
title                0
titleOfCourtesy      0
birthDate            0
hireDate             0
address_y            0
city_y               0
region_y             0
postalCode_y         0
country_y            0
homePhone            0
extension            0
photo                0
notes                0
reportsTo          241
photoPath            0
dtype: int64

In [38]:
order_order_detail_customer_shipper_employee["reportsTo"]

0       2.0
1       2.0
2       2.0
3       5.0
4       5.0
       ...
2150    2.0
2151    2.0
2152    2.0
2153    2.0
2154    2.0
Name: reportsTo, Length: 2155, dtype: float64

In [39]:
order_order_detail_customer_shipper_employee['reportsTo'] = order_order_detail_customer_shipper_employee['reportsTo'].astype('Int64')
order_order_detail_customer_shipper_employee["reportsTo"]

0       2
1       2
2       2
3       5
4       5
       ..
2150    2
2151    2
2152    2
2153    2
2154    2
Name: reportsTo, Length: 2155, dtype: Int64

In [40]:
order_order_detail_customer_shipper_employee["reportsTo"] = order_order_detail_customer_shipper_employee["reportsTo"].replace({pd.NA: 2})

In [41]:
order_order_detail_customer_shipper_employee.isna().sum()

orderID            0
customerID         0
employeeID         0
orderDate          0
requiredDate       0
shippedDate        0
shipVia            0
freight            0
shipName           0
shipAddress        0
shipCity           0
shipRegion         0
shipPostalCode     0
shipCountry        0
productID          0
unitPrice          0
quantity           0
discount           0
companyName_x      0
contactName        0
contactTitle       0
address_x          0
city_x             0
region_x           0
postalCode_x       0
country_x          0
phone_x            0
fax                0
shipperID          0
companyName_y      0
phone_y            0
lastName           0
firstName          0
title              0
titleOfCourtesy    0
birthDate          0
hireDate           0
address_y          0
city_y             0
region_y           0
postalCode_y       0
country_y          0
homePhone          0
extension          0
photo              0
notes              0
reportsTo          0
photoPath          0
dtype: int64

In [42]:
order_order_detail_customer_shipper_employee.columns

Index(['orderID', 'customerID', 'employeeID', 'orderDate', 'requiredDate',
       'shippedDate', 'shipVia', 'freight', 'shipName', 'shipAddress',
       'shipCity', 'shipRegion', 'shipPostalCode', 'shipCountry', 'productID',
       'unitPrice', 'quantity', 'discount', 'companyName_x', 'contactName',
       'contactTitle', 'address_x', 'city_x', 'region_x', 'postalCode_x',
       'country_x', 'phone_x', 'fax', 'shipperID', 'companyName_y', 'phone_y',
       'lastName', 'firstName', 'title', 'titleOfCourtesy', 'birthDate',
       'hireDate', 'address_y', 'city_y', 'region_y', 'postalCode_y',
       'country_y', 'homePhone', 'extension', 'photo', 'notes', 'reportsTo',
       'photoPath'],
      dtype='object')

In [43]:
order_order_detail_customer_shipper_employee.shape

(2155, 48)

#### Create Vice President\CEO Employee First

In [44]:
employee_df[employee_df["title"] == "Vice President Sales"]

,employeeID,lastName,firstName,title,titleOfCourtesy,birthDate,hireDate,address,city,region,postalCode,country,homePhone,extension,photo,notes,reportsTo,photoPath
1,2,Fuller,Andrew,Vice President Sales,Dr.,1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp

In [45]:
vice_president = order_order_detail_customer_shipper_employee[order_order_detail_customer_shipper_employee["title"] == "Vice President Sales"]

In [46]:
def create_manager(tx, row):
    tx.run("""
        MERGE (e:Employee {
            employeeID: $employeeID,
            lastName: $lastName,
            firstName: $firstName,
            title: $title,
            titleOfCourtesy: $titleOfCourtesy,
            birthDate: $birthDate,
            hireDate: $hireDate,
            address: $address_y,
            city: $city_y,
            region: $region_y,
            postalCode: $postalCode_y,
            country: $country_y,
            homePhone: $homePhone,
            extension: $extension,
            photo: $photo,
            notes: $notes,
            photoPath: $photoPath
    })
    """, row)

In [47]:
with driver.session() as session:
    for _, row in vice_president.iterrows():
        session.write_transaction(create_manager, row.to_dict())

<ipython-input-47-15502a2a6b00>:1: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:
<ipython-input-47-15502a2a6b00>:3: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_manager, row.to_dict())

In [48]:
def insert_data(tx, row):
    tx.run("""
    CREATE (o:Order {
        orderID: $orderID,
        orderDate: $orderDate,
        requiredDate: $requiredDate,
        shippedDate: $shippedDate,
        shipVia: $shipVia,
        freight: $freight,
        shipName: $shipName,
        shipAddress: $shipAddress,
        shipCity: $shipCity,
        shipRegion: $shipRegion,
        shipPostalCode: $shipPostalCode,
        shipCountry: $shipCountry
    })
    WITH o
    MATCH (p:Product { productID: $productID })
    WITH p, o
    MERGE (c:Customer {
        customerID: $customerID,
        companyName: $companyName_x,
        contactName: $contactName,
        contactTitle: $contactTitle,
        address: $address_x,
        city: $city_x,
        region: $region_x,
        postalCode: $postalCode_x,
        country: $country_x,
        phone: $phone_x,
        fax: $fax
    })
    WITH c, p, o
    MERGE (s:Shipper {
        shipperID: $shipperID,
        companyName: $companyName_y,
        phone: $phone_y
    })
    WITH s, c, p, o
    MERGE (e:Employee {
        employeeID: $employeeID,
        lastName: $lastName,
        firstName: $firstName,
        title: $title,
        titleOfCourtesy: $titleOfCourtesy,
        birthDate: $birthDate,
        hireDate: $hireDate,
        address: $address_y,
        city: $city_y,
        region: $region_y,
        postalCode: $postalCode_y,
        country: $country_y,
        homePhone: $homePhone,
        extension: $extension,
        photo: $photo,
        notes: $notes,
        photoPath: $photoPath
    })
    WITH e, s, c, p, o
    MATCH (m:Employee { employeeID: $reportsTo }) // Assuming reportsTo is the ID of the manager
    WITH m, e, s, c, p, o
    MERGE (e)-[:REPORTS_TO]->(m)
    MERGE (o)-[:INCLUDES]->(p)
    MERGE (o)-[:ORDERED_BY]->(c)
    MERGE (o)-[:SHIPPED_BY]->(s)
    MERGE (o)-[:PROCESSED_BY]->(e)
    """, parameters=row)

In [49]:
with driver.session() as session:
    for _, row in order_order_detail_customer_shipper_employee[:250].iterrows():
        session.write_transaction(insert_data, row.to_dict())

<ipython-input-49-9d80f810a619>:1: DeprecationWarning: Using a driver after it has been closed is deprecated. Future versions of the driver will raise an error.
  with driver.session() as session:
<ipython-input-49-9d80f810a619>:3: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(insert_data, row.to_dict())